/* QM3 Colors
Light blue = 075AA1
Blue = 27387D
Green = 059153
Light Green = A0C33A
Check Green = 97B440
*/

#logo_img {
    width: 220px;
    height: 61px;
}

.promo-banner {
    height: 450px;
    width: 100%;
    position: relative;
}

.promo-background-image {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
    z-index: 0;
}

.promo-overlay {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.4);
}

.promo-caption-title {
    line-height:  50px;
    margin: 0px;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 42px;
    color: white;
    position: relative;
    font-family: "Nunito Sans", sans-serif;
    text-align: left;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.promo-caption-subtitle {
    font-weight: 200;
    font-size: 32px;
    font-style: normal;
    color: white;
    position: relative;
    font-family: "Nunito Sans", sans-serif;
    text-align: left;
    margin-bottom: 20px;
    display: inline-block;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

@media (max-width: 767px) {
    .promo-caption-subtitle {
        display: none;
    }

    .promo-caption .separator {
        display: none;
    }
    
    .promo-caption-title {
        margin-bottom: 20px;
    }
}

@media (max-width: 448px) {
    .promo-caption-title {
        font-size: 28px;
    }
}

.promo-caption {
    position: relative;
    top: 50px;
}

.promo-caption-subsection {
    text-align: center;
}

.promo-caption-subtext {
    line-height: 35px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 0px;
    font-weight: 300;
    font-size: 24px;
    color: white;
    position: relative;
    font-family: "Raleway", sans-serif;
    margin-bottom: 30px;
}

.promo-caption-spacer {
    color: white;
}

.header-first {
    padding-top: 9px;
}

.fixed-header-on .header-first {
    padding-top: 4px;
    padding-bottom: 4px;
}

.header-container {
    overflow: visible;
}

.site-slogan {
    color: #0c9653;
    font-size: 32px;
    margin-left: -10px;
    padding-right: 10px;
    font-weight: 500;
    font-family: 'Kaushan Script';
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    overflow-y: hidden;
    height: 46px;
}

.text-default {
    color: #0c9653;
}

.slogan-hidden {
    height: 0px;
    margin: 0px;
}

.about-us ul {
    list-style: none;
}
  
.about-us ul li:before {
    content: '✓ ';
    color: #0c9653;
    font-weight: bold;
}

section.quote {
    background-color: #0d5ca2ea;
}
section.quote h2 {
    color: white;
    font-size: 24px;
}

.tabbed-info-wrapper {
    margin-left: 0px;
    margin-right: 0px;
}

.promo-caption-subsection .btn-primary {
    background-color: #0d5ca2;
    border-color: #0d5ca2;
}

#values h1 {
    color: #0c9653;
}

.collapse-style-2 .card-header a.collapsed {
    background-color: #373737;
}

.collapse-style-2 .card-header a {
    background-color: #0d5ca2;
}

.toast {
    display: none;
}

@media (min-width: 992px) {
    .fixed-header-on .main-navigation .navbar-nav > li > a {
        padding-top: 23px;
        padding-bottom: 23px;
    }
}

@media (max-width: 991px) {
    .header-top {
        display: none;
    }
}

.fixed-bg {
    display: block;
    width: 100%;
    height: 100%;
    background: url(/images/Atlanta_Skyline.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (min-width: 992px) {
    .fixed-bg {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #logo-mobile img:hover {
        opacity: 1;
    }
}

.dark-translucent-bg:after {
    background-color: rgba(0, 0, 0, 0.6);
}

.ToastHolder {
    z-index: 2;
}

/* Loading Spinner */

.loading {
    position: relative;
    display: inline-block;
    padding-left: 10px;
    top: 4px;
  }
  .loading-bar {
    display: inline-block;
    width: 4px;
    height: 18px;
    border-radius: 4px;
    animation: loading 1s ease-in-out infinite;
  }
  .loading-bar:nth-child(1) {
    background-color: #A0C33A;
    animation-delay: 0;
  }
  .loading-bar:nth-child(2) {
    background-color: #059153;
    animation-delay: 0.09s;
  }
  .loading-bar:nth-child(3) {
    background-color: #075AA1;
    animation-delay: .18s;
  }
  .loading-bar:nth-child(4) {
    background-color: #27387D;
    animation-delay: .27s;
  }
  
  @keyframes loading {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(1, 2.2);
    }
    40% {
      transform: scale(1);
    }
  }

  /* End Loading Spinner */